<div id="app" class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link class="navbar-brand" :to="{ name: 'app_homepage' }">Home</router-link>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-if="!user.methods.isLogged()">
                        <router-link class="nav-link" :to="{ name: 'app_login' }">Login</router-link>
                    </li>
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
                <b-dropdown id="ddown1" :text="user.methods.getName()" class="m-md-2" v-if="user.methods.isLogged()">
                    <b-dropdown-item @click="logoutUser">Logout</b-dropdown-item>
                    <!--<b-dropdown-item>Second Action</b-dropdown-item>
                    <b-dropdown-item>Third Action</b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item>Something else here...</b-dropdown-item>
                    <b-dropdown-item disabled>Disabled action</b-dropdown-item>-->
                </b-dropdown>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <logger/>
                </div>
            </div>
            <router-view/>
        </div>

    </div>
    <div class="col-lg-1"></div>
</div>
