<b-col id="strategy_form">
    <b-tabs>

        <b-tab title="Params">
            <b-form id="strategy_form" @submit="submitStrategyFrom">
                <b-form-group
                        label="Name:"
                        label-for="strategy_name_input">
                    <b-form-input id="strategy_name_input"
                                  type="text"
                                  v-model="name"
                                  required
                                  placeholder="Enter a strategy name">
                    </b-form-input>
                </b-form-group>

                <b-form-group
                        label="Description:"
                        label-for="strategy_description_input">
                    <b-form-textarea id="strategy_description_input"
                                     v-model="description"
                                     :rows="3"
                                     :max-rows="6"
                                     placeholder="Enter a strategy description">
                    </b-form-textarea>
                </b-form-group>

                <b-form-group
                        label="Status:"
                        label-for="strategy_status_input">
                    <b-form-select id="strategy_status_input"
                                   :options="['enabled', 'disabled']"
                                   required
                                   v-model="status">
                    </b-form-select>
                </b-form-group>

                <b-button type="submit" variant="primary">{{ isNewRecord ? 'Create' : 'Update' }}</b-button>
            </b-form>
        </b-tab>

        <b-tab title="Decisions" active>
            <DecisionForm v-if="isMounted" />
        </b-tab>

    </b-tabs>
</b-col>