<div id="generate_random_strategy_modal">
    <b-modal
            title="Generate strategy"
            ref="generateStrategyModalRef"
            @ok="generateStrategy"
            @cancel="close"
            ok-title="Yes"
            cancel-title="No"
            ok-variant="danger"
            cancel-variant="primary"
    >
        <div class="d-block text-center">
            <h4>Set strategy params</h4>

            <b-form-group
                    label="Strategy name (not required):"
                    label-for="generate_strategy_name_input">
                <b-form-input id="generate_strategy_name_input"
                      type="text"
                      v-model="name"
                      placeholder="Enter a strategy name">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Steps count (if 0 - will be random number from 1 to 10):"
                    label-for="generate_strategy_steps_input">
                <b-form-input id="generate_strategy_steps_input"
                      type="number"
                      v-model="steps"
                      placeholder="Enter strategy steps count">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Extending branch chance:"
                    label-for="generate_strategy_extending_chance_input">
                <b-form-input id="generate_strategy_extending_chance_input"
                      type="number"
                      v-model="extendingChance"
                      placeholder="Enter strategy extending branch chance">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Random decision chance:"
                    label-for="generate_strategy_random_decision_chance_input">
                <b-form-input id="generate_strategy_random_decision_chance_input"
                      type="number"
                      v-model="randomDecisionChance"
                      placeholder="Enter strategy random decision chance">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Accept decision chance:"
                    label-for="generate_strategy_accept_decision_chance_input">
                <b-form-input id="generate_strategy_accept_decision_chance_input"
                      type="number"
                      v-model="acceptDecisionChance"
                      placeholder="Enter strategy accept decision chance">
                </b-form-input>
            </b-form-group>

        </div>
    </b-modal>
</div>