<div id="strategies_list_page">
    <b-table
        striped hover
        :items="strategies"
        :fields="fields"
    >
        <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-button size="sm" @click.stop="selectStrategy(row.item.id)" class="mr-1">
                View
            </b-button>
            <b-button size="sm" @click.stop="updateStrategy(row.item.id)" class="mr-1">
                Update
            </b-button>
            <b-button size="sm" @click.stop="deleteStrategy(row.item.id)" class="mr-1">
                Delete
            </b-button>
        </template>
    </b-table>
</div>
