<b-col id="strategies_list_page">
    <b-table
        striped hover
        :items="strategies"
        :fields="fields"
    >
        <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-button :variant="viewBtnVar" size="sm" @click.stop="selectedStrategy(row.item.id)" class="mr-1">
                View
            </b-button>
            <b-button :variant="updateBtnVar" size="sm" @click.stop="updateStrategy(row.item)" class="mr-1">
                Update
            </b-button>
            <b-button :variant="deleteBtnVar" size="sm" @click.stop="openDeleteStrategyModal(row.item)" class="mr-1">
                Delete
            </b-button>
        </template>
    </b-table>
    <DeleteStrategy v-if="deleteStrategyVisible" />
</b-col>
