<b-tabs id="game_page" class="min-width-seventy-presents">

    <b-tab title="Params" v-if="showParams" :active="gameResults === null">
        <GameParams
            :game="game"
            :gameParams="gameParams"
            :results="gameResults"
            @setGameResults="setGameResults($event)"
            @setGameResultsChanged="setGameResultsChanged($event)"
        />
    </b-tab>

    <b-tab title="Results" v-if="gameResults" :active="gameResults !== null">
        <GameResults
            :game="game"
            :results="gameResults"
            :gameResultsChanged="gameResultsChanged"
            @saveGame="saveGame($event)"
        />
    </b-tab>

</b-tabs>