<b-tabs id="game_page" class="min-width-seventy-presents">

    <b-tab title="Params" v-if="showParams" :active="gameResults === null">
        <GameParams
            v-bind:game="game"
            v-bind:gameParams="gameParams"
            v-bind:results="gameResults"
            @setGameResults="setGameResults($event)"
            @setGameResultsChanged="setGameResultsChanged($event)"
        />
    </b-tab>

    <b-tab title="Results" v-if="gameResults" :active="gameResults !== null">
        <GameResults
            v-bind:game="game"
            v-bind:results="gameResults"
            v-bind:gameResultsChanged="gameResultsChanged"
            @saveGame="saveGame($event)"
        />
    </b-tab>

</b-tabs>